<div class="general-container">
  <div class="header">
    <p-tabView>
      <p-tabPanel header="ABOUT ME">
          <p>
              Something about me
          </p>
      </p-tabPanel>
      <p-tabPanel header="PROJECTS">
          <p>
              Some projects
          </p>
      </p-tabPanel>
      <p-tabPanel header="BLOG">
          <p>
              lol
          </p>
      </p-tabPanel>
      <p-tabPanel header="BLOG">
        <p>
            lol
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>